@page
@model ListStorageModel

@{
    ViewData["Title"] = "ListStorage";
    Layout = "_LayoutManager";

    int x = 0;
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row justify-content-lg-start">
                <div class="col-4">
                    <h3>Storage Areas</h3>
                </div>
                <div class="col-3">
                    <form class="d-md-inline-flex" role="search" method="get">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" asp-for="SearchText">
                        <button class="btn btn-primary" style="color: #fff" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="col-2">
                    <p>
                        <a asp-page="./CreateStorageArea" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead style="background-color: #4169E1; vertical-align:middle" class="text-white text-center">
        <tr>
            <th>No.</th>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.StorageArea[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StorageArea) {
        <tr>
                <td class="text-center">@(++x)</td>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.AreaCode)
            </td>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.AreaName)
            </td>
                <td style="text-align: center">
                    @switch (item.Status)
                    {
                        case 0:
                            {
                                <span class="text-danger">In-active</span>
                            }
                            break;
                        case 1:
                            {
                                <span class="text-success">Active</span>
                            }
                            break;
                    }
                </td>
                <td class="text-end">
                    <a asp-page="./EditStorageArea" asp-route-id="@item.AreaId" class="btn btn-primary"><i class="fa-solid fa-pen"></i></a>
                    <a asp-page="./BanStorage" asp-route-id="@item.AreaId" class="btn btn-primary"><i class="fa-solid fa-ban"></i></a>
                </td>
        </tr>
}
    </tbody>
</table>

<div>
    <ul class="pagination">
        @for (int b = 1; b <= Model.totalPages; b++)
        {
            <li class="page-item @(b == Model.curentPage ? "active" : "")">
                <a asp-page="./ProductList" asp-route-curentPage="@b" class="page-link">@b</a>
            </li>
        }
    </ul>
</div>