@page
@model BL3w_GroupProject.Pages.StoreKeeper.LotListModel

@{
    ViewData["Title"] = "LotList";
    Layout = "_StoreKeeper";

    int x = 0;
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row justify-content-lg-start">
                <div class="col-3">
                    <h3>Stock In management</h3>
                </div>
                <div class="col-3">
                    <form class="d-md-inline-flex" role="search" method="get">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" asp-for="SearchText">
                        <button class="btn btn-primary" style="color: #fff" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="col-2">
                    <p>
                        <a asp-page="./LotCreate" class="btn btn-primary"><i class="fa-solid fa-download"></i></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<table class="table table-hover">
    <thead style="background-color: #4169E1; text-align: center" class="text-white">
        <tr>
            <th>No.</th>
            <th>
                Code
            </th>
            <th>
                Import Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot[0].Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot[0].Partner)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lot)
        {
            <tr>
                <td class="text-center">@(++x)</td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.LotCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td style="text-align: center">
                    @switch (item.Status)
                    {
                        case 0:
                            {
                                <span class="text-danger">In-active</span>
                            }
                            break;
                        case 1:
                            {
                                <span class="text-success">Active</span>
                            }
                            break;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Partner.Name)
                </td>
                <td>
                    <a asp-page="./LotDetail" asp-route-id="@item.LotId"><i class="fa-solid fa-circle-info"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <ul class="pagination">
        @for (int b = 1; b <= Model.totalPages; b++)
        {
            <li class="page-item @(b == Model.curentPage ? "active" : "")">
                <a asp-page="./LotList" asp-route-curentPage="@b" class="page-link">@b</a>
            </li>
        }
    </ul>
</div>